---
import Base from '../layouts/Base.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Problems from '../components/Problems.astro';
import Tagline from '../components/Tagline.astro';
import Products from '../components/Products.astro';
import Features from '../components/Features.astro';
import Downloads from '../components/Downloads.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---

<Base>
  <Header />
  <main>
    <Hero />
    <Problems />
    <Tagline />
    <Products />
    <Features />
    <Downloads />
    <Contact />
  </main>
  <Footer />
</Base>
